.main-container {
  position: fixed;
  width: 85%;
  height: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.15);
}
.onboarding-container {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  text-align: center;
}
.download-container {
  position: fixed;
  right: 0;
  margin: 4px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.download-container:hover {
  background-color: rgb(255, 255, 255, 0.9);
  color: black;
  transition: 0.3s;
}

